rpi_flows.json
[{"id":"f2485420.4f37c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"93c1be79.bd4a1","type":"inject","z":"f2485420.4f37c8","name":"","topic":"","payload":"timestamp","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["8a8aa07.a776d6"]]},{"id":"8a8aa07.a776d6","type":"function","z":"f2485420.4f37c8","name":"function","func":"msg.payload = { 'd' : {'random' : msg.payload }};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":100,"wires":[["1b245c57.bcc4f4"]]},{"id":"1cecd233.98a1fe","type":"debug","z":"f2485420.4f37c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":60,"wires":[]},{"id":"1b245c57.bcc4f4","type":"random","z":"f2485420.4f37c8","name":"","low":"1","high":"10","inte":"true","property":"payload","x":480,"y":100,"wires":[["1cecd233.98a1fe","f6b8cfc0.2963e"]]},{"id":"5b7a0ebc.cf03a","type":"inject","z":"f2485420.4f37c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":280,"wires":[[]]},{"id":"39a3c65d.c36e1a","type":"debug","z":"f2485420.4f37c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":520,"y":520,"wires":[]},{"id":"33aee6be.556cca","type":"wiotp in","z":"f2485420.4f37c8","authType":"d","deviceKey":"43b8556f.595a0c","deviceType":"","deviceId":"","command":"+","commandType":"g","qos":0,"name":"","x":180,"y":520,"wires":[["39a3c65d.c36e1a"]]},{"id":"d9370a25.15a918","type":"rpi-sensehatsim in","z":"f2485420.4f37c8","name":"","motion":false,"env":true,"stick":false,"x":160,"y":700,"wires":[["e89875c6.c6df08"]]},{"id":"e89875c6.c6df08","type":"delay","z":"f2485420.4f37c8","name":"delay 5s","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":720,"wires":[["64f0b524.e8f71c"]]},{"id":"64f0b524.e8f71c","type":"function","z":"f2485420.4f37c8","name":"Env. Data","func":"msg.payload = { \"Data\" : {\"Environment\" :msg.payload }};\nmsg.deviceType = \"senseHat\";\nmsg.deviceID = \"senb52212117334\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":660,"wires":[["379aed46.705f72","74d9a40a.847f6c"]]},{"id":"379aed46.705f72","type":"debug","z":"f2485420.4f37c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":640,"y":820,"wires":[]},{"id":"74d9a40a.847f6c","type":"wiotp out","z":"f2485420.4f37c8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"d3e1254e.3782e8","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"IBM IoT Device","x":400,"y":980,"wires":[]},{"id":"f6b8cfc0.2963e","type":"wiotp out","z":"f2485420.4f37c8","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"43b8556f.595a0c","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":650,"y":160,"wires":[]},{"id":"43b8556f.595a0c","type":"wiotp-credentials","z":"","name":"b828eb9c8992","org":"4j44fo","serverName":"","devType":"raspberrypiGW","devId":"b828eb9c8992","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"d3e1254e.3782e8","type":"wiotp-credentials","z":"","name":"","org":"4j44fo","serverName":"","devType":"raspberrypiGW","devId":"52212117334d","keepalive":"60","cleansession":true,"tls":"","usetls":false}]